.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

.article {
    border:1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
}

.article-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.article-details {
    color: #777;
    font-size: 0.8rem;
}

.article-topics {
    color: #ff4500;
    font-weight: bold;
}

.username {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.article-body {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.article-image {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.comment-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.comment-author {
    font-weight: bold;
    color: #555;
}

.comment-body {
    margin-top: 5px;
    margin-bottom: 5px;
}

